name: Create Pull Request

on:
  push:
    branches-ignore: [ "main" ]

jobs:
  createPullRequest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "main"
          github_token: ${{ secrets.MEU_GITHUB_TOKEN }}